.activeHole{
  background-color: #586070;
  height: 145vw;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
.activeHoleImg{
  width: 100%;
  z-index: 0;
  height: 650px;
}
.closeHoleDescDetailsBtn{
  border-radius: 10px;
  background-color: #586070;
  color: white;
}
.closeHoleNotesBtn{
  border-radius: 10px;
  background-color: #586070;
  color: white;
}
.closeVideoBtn{
  border-radius: 10px;
  background-color: #586070;
  color: white;
}
input[type=text]{
  border-radius: 5px;
}
.videoContainer{
  position:absolute;
  bottom: -60px;
  left: 15px;
}
.videoStyle{
  border-radius: 10px;
}
.holeDesc{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #282c34;
  border-radius: 10px;
  margin: 5px;
}
.holeDescDetails{
  margin: 5px;
  color: white;
}
.holeDetailsBtn{
  font-weight: bold;
  background-color: #586070;
  border-radius: 10px;
  height: 40px;  
  color: white;
}
.videoBtn{
  position: absolute;
  bottom: -30px;
  left: 10px;
  font-weight: bold;
  background-color: #586070;
  border-radius: 10px;
  height: 40px; 
  color: white;
}
.holeNotes{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #282c34;
  border-radius: 10px;
  margin: 5px;
  padding: 5px; 
}
.holeNotesInput{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #282c34;
  border-radius: 10px;  
  padding: 5px;
  color: white;
  width: 275px;
}
.holeNotesBtn{
  position:absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  background-color: #586070;
  border-radius: 10px;
  height: 40px; 
  margin-top: 6px;  
  color: white;
}
.styleHoleNotes{
  margin: 5px;
  height: 20px;
  background-color:#282c34;
  /* position: absolute; */
}
.App {
  text-align: center;
  background-color: #282c34;
  /* width: 390px;
  height: 844px;
  margin-left: 500px; */
  /* justify-content: center; */
  margin-top: 0px;  
}
.App-header {  
  flex-direction: column;
  font-family: "Consolas";
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h3{
  margin-top: 0px;
  margin-bottom: 0px;  
}
.back9 button {
  /* display: grid;
    float: left; */
    background-color: #586070;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    /* background-image: url(./images/button_left.png); */
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}
.child{
  display: inline-block;
  float: left;
}
.front9{
  width: 375px;
}
.front9 button {
  /* display: grid;
    float: left; */
    background-color: #586070;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 50px;
    margin-bottom: 5px;
    /* background-image: url(./images/button_left.png); */
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
}
.holeDetails {
  margin-top: 10px;
  margin-left: 10px;
}
.holeImage{
  height: 225px;
  margin-left: 50px;
  margin-right: 30px;
  border-radius: 5px;
  margin-top: 40px;
  text-align: center;
}
.holeSelection {
  background-color: #282c34; 
}
.holeTitle{
  margin-top: 10px;
  text-align: center;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  background-color: #586070;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 110px;
  margin-left: 4px;
  float: right;
}
.parent {
  margin-bottom: 15px;
}